<div class="app-wrapper">
  <header class="header-4">
    <div class="branding">
      <img src="/assets/vending-machine.png" />
    </div>
    <div class="header-nav">
      <a href="javascript://" class="nav-link nav-text" routerLink="home" routerLinkActive="active">Home</a>
      <a href="javascript://" class="nav-link nav-text" routerLink="products" routerLinkActive="active">Products</a>
    </div>
  </header>
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>