.coin {
  background: linear-gradient(143deg, rgb(182, 180, 173, 1) 0%, rgb(245, 245, 245) 48%, rgb(185, 185, 183) 100%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgb(94, 94, 94);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  &.gold {
    background: linear-gradient(143deg, rgba(255, 192, 1, 1) 0%, rgb(255, 217, 0) 48%, rgba(204, 153, 0, 1) 100%);
    border: 1px solid rgb(134, 115, 5);
  }
}

.coins-display {
  margin-top: 1rem;
  padding: 0.75rem;
  border: 1px solid gray;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: 700;
  font-size: 1.5rem;
}